.title-cards {
    margin-top: 0px;
    margin-bottom: 0px;

}

.title-cards .sub-title{
    font-size: 30px;
    position: absolute;
    z-index: 1;
    padding: 50px;
    margin-top: 10px;
    font-family: "Bevan", serif; /* escolher uma fonte melhor */
}

.card-list{
    display: flex;
    gap: 10px;
    overflow-x: auto;
    margin-left: 50px;
    padding-top: 100px;
}

.card-list::-webkit-scrollbar {
    display: none;
}

.card-list img{
    width: 250px;
    height: 300px; /* 16:9 */
    object-fit: cover;
    border-radius: 40px;
    cursor: pointer;
    padding-top: 15px;
}

.card-list .card-list {
    position: relative;
}

.card-list .card p {
    position: absolute;
    bottom: 10px;
    right: 10px;
}