@import url('https://fonts.googleapis.com/css2?family=Bevan:ital@0;1&family=Commissioner:wght@100..900&family=Julius+Sans+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Yusei+Magic&family=Zain:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,300;1,400&display=swap');

.main-banner {
    position: relative;
}

.banner-img {
    position: absolute;
    width: 100%;
    mask-image: linear-gradient(to right, transparent, black 75%);
    -weblit-mask-image: linear-gradient(to right, transparent, black 75%);
    height: 600px;
    object-fit: cover; /* mantém propoção sem esticar*/
}

.main-banner-caption {
    position: relative;
}

.main-banner-caption .h2-title {
    font-size: 30px;
    position: absolute;
    z-index: 1;
    padding: 50px;
    margin-top: 200px;
    font-family: "Bevan", serif; /* escolher uma fonte melhor */
}

.main-banner-caption p {
    font-size: 18px;
    position: absolute;
    z-index: 1;
    padding: 50px;
    margin-top: 250px;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    max-width: 750px;
}

.main-bts {
    display: flex;
    gap: 10px;
    margin-top: 0px;
    padding: 5px;
    margin-left: 50px;

}

.main-bts .btn {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 350px;
    background: rgba(213, 213, 213, 0.925);
    border: none;
    font-size: 15px;
    border-radius: 5px;
    padding: 8px;
    color: rgb(26, 26, 26);
    cursor: pointer;
    width: 100px;
    margin-top: 390px;
}

.main-bts .btn.dark-btn {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 350px;
    background: rgba(213, 213, 213, 0.223);
    border: none;
    font-size: 15px;
    border-radius: 5px;
    padding: 8px;
    color: rgb(234, 234, 234);
    cursor: pointer;
    width: 130px;
    margin-top: 390px;
}

.main-bts .btn:hover{
    background-color: rgba(255, 177, 61, 0.708);
}

