.footer {
    padding: 30px 4%; /* porque 4%? */
    max-width: 1000px;
    margin: 0 auto;
}

.footer-icons {
    display: flex;
    gap: 20px;
    margin: 40px 0;
    align-items: center;
    justify-content: center;
    transform: 0.3s ease;
}

.footer-icons:hover {
    transform: scale(1.02);
}

.footer-icons svg {
    font-size: 30px;
    cursor: pointer;
    color: orange;
}

.footer ul {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 15px;
    margin-bottom: 30px;
    list-style:inside;
    cursor: pointer;
}

.copyright-text {
    color: gray;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}
